:root {
    --gradient: linear-gradient(135deg, #72Edf2 10%, #5151E5 100%);
  }
  
  * {
    box-sizing: border-box;
    line-height: 1.25;
  }
  
  .clear {
    clear: both;
  }
  
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #34344b;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    border-radius: 25px;
    box-shadow: 0 0 70px rgba(255, 0, 0, 0.5);
    background-color: #222831;
    color: #fff;
    height: 400px;
  }
  
  .weatherside {
    position: relative;
    height: 100%;
    border-radius: 25px;
    background-image: url(green.jpg);
    width: 300px;
    transition: transform 300ms ease;
    float: left;
  }
  
  .weatherside:hover {
    transform: scale(1.1) perspective(1500px) rotateY(10deg);
  }
  
  .weathergradient {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 0;
    left: 0;
    background-image: var(--gradient);
    border-radius: 25px;
    opacity: 0.8;
  }
  
  .datecontainer {
    position: absolute;
    top: 25px;
    left: 25px;
  }
  
  .dayname {
    margin: 0;
  }
  
  .dateplay {
    display: block;
  }
  
  .location {
    display: inline-block;
    margin-top: 10px;
  }
  
  .locationicon {
    display: inline-block;
    height: 0.8em;
    width: auto;
    margin-right: 5px;
  }
  
  .weathercontainer{
      position: absolute;
      bottom: 25px;
      left: 25px;
  }
  
  .sunicon{
      height: 60px;
      width: auto;
  }
  
  .weathertemp{
      margin: 0;
      font-weight: 700;
      font-size: 4em;
  }
  
  .weatherdesc{
      margin: 0;
  
  }
  
  /* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  
  .infoside{
     position: relative;
     float: left;
     height: 100%;
     padding-top: 25px; 
  }
  
  .todayinfo{
      padding: 15px;
      margin: 0 25px 25px 25px;
      border-radius: 10px;
  }
  
  .todayinfo>div:not(:last-child){
      margin: 0 0 10px 0;
  }
  
  .todayinfo>div .title{
      float: left;
      font-weight: 700;
  }
  
  .todayinfo>div .value{
      float: right;
  }
  
  .weeklist{
      list-style: none;
      padding: 0;
      margin: 10px 35px;
      box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
  }
  
  .weeklist>li{
      float: left;
      padding: 15px;
      cursor: pointer;
      transition: 200ms ease;
      border-radius: 10px;
  }
  
  .weeklist>li:hover{
      transform: scale(1.1);
      background: #fff;
      color: #222831;
  }
  
  .weeklist.li.active{
      background-color: #fff;
      color: #222831;
      text-align: center;
  }
  
  .weeklist>li.dayname{
      display: block;
      margin: 10px 0 0 0;
      text-align: center;
  
  }
  
  .weeklist>li.daytemp{
      display: block;
      margin: 10px 0 0 0;
      text-align: center;
      font-weight: 700;
  
  }
  
  .weeklist>li.dayicon{
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 auto;
  }
  
  .locationt{
      padding: 25px 35px;
  }
  
  .locationbutton{
      outline: none;
      width: 100%;
      border: none;
      border-radius: 25px;
      padding: 10px;
      font-family: 'Times New Roman', Times, serif;
      background-image: var(--gradient);
      color: #fff;
      font-weight: 700;
      box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: transform 200ms ease;
  }
  
  .locationbutton:hover{
      transform: scale(0.95);
  }
  
  .locationbutton svg{
      height: 1em;
      width: auto;
      margin-right: 5px;
  
  }